.DS\_Store
.DS_Store
*.sw?
**/build_temp/**
**/resources-ram/**
**/project_*
development.icf
iwtrace.txt
**/source-assets/**
CPPGameTemplate/example/build_maxicube_vc11x/
CPPGameTemplate/example/data-ram/
